@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,300;1,700&display=swap");
@import url('path-to-bootstrap/bootstrap.css');
:root {
    --primary: #cf2e2e;
    --second: maroon;
    --third: #010101;
    --bg: #eee;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg);
    color: var(--third);
}


/*Navbar*/

.navbar {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    display: flex;
}

.navbar img {
    object-fit: cover;
}

.navbar .navbar-logo .row {
    margin-left: 0.7rem;
}

.navbar .navbar-logo-teks {
    font-size: 1.4rem;
    color: white;
}

.navbar .navbar-logo span {
    color: var(--primary);
}

.navbar .navbar-nav a {
    color: #fff;
    font-size: 1rem;
    display: inline-block;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
    color: var(--third);
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(1);
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}


/* Hero Section */

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("../img/bg-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient( 0deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255, 0) 55%);
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}


/* .hero .content h1 {
  font-size: 5em;
  color: #fff;
  line-height: 1;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content h1 span {
  color: var(--primary);
} */

.hero .content p {
    font-size: 1.6rem;
    margin-top: 1.6rem;
    line-height: 1.3;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    color: #fff;
}


/* About Section*/

.about,
.sejarah,
.potensi,
.galeri,
.contact {
    padding: 7rem 7% 1.4rem;
    margin-bottom: 15rem;
}

.about h2,
.sejarah h2,
.potensi h2,
.galeri h2,
.contact h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about h2 span,
.sejarah h2 span,
.galeri h2 span,
.contact h2 span {
    color: var(--primary);
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .about-img img {
    width: 95%;
    border-radius: 15%;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.6;
    text-align: justify;
}


/* History Section */


/* 
.sejarah .frame-video {
    align-items: center;
    justify-content: center;
    width: 634px;
    height: 400px;
    position: relative;
}

.sejarah .frame-video .frame-video-vid {
    width: 100%;
    height: 100%;
    background-position: center;
    object-fit: cover;
    border-radius: 1rem;
    position: absolute;
    left: 41%;
} */


/* Potensi Section */

.potensi {
    background-color: #cf2e2e;
    border-radius: 0.7rem;
}

.potensi h2 {
    margin-bottom: 1rem;
}

.potensi h2 span {
    color: #fff;
}

.potensi h3 {
    position: absolute;
    left: 5%;
    bottom: 50%;
    margin: auto;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: left;
    z-index: 3;
}

.potensi .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

.potensi .row .menu-card {
    margin: auto;
    text-align: center;
    padding-bottom: 4rem;
    cursor: pointer;
    width: 500px;
    height: 500px;
}

.potensi .row .menu-card a {
    position: relative;
}

.potensi .row .menu-card img {
    /* padding: 1.6rem; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
    position: relative;
}

.potensi .row .menu-card img:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
}


/* Galeri Section */

.galeri h2 {
    margin-bottom: 1rem;
}

.galeri p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 500;
    line-height: 1.5;
}

.galeri .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
    gap: 2rem;
}

.galeri .row .coloum {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    justify-content: center;
    /* border: #222 2px solid;
    border-radius: 10px; */
}

.galeri .row .coloum .menu-card {
    transform: scale(1);
}

.galeri .row .coloum .menu-card img {
    object-fit: cover;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.galeri .row .coloum .menu-card img::after:hover {
    background-image: linear-gradient(rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.7));
}


/* Footer */

footer {
    text-align: center;
    padding: 1rem 0 1.2rem;
    margin-top: 3rem;
    color: #fff;
    background-color: #222;
    border-top: 5px solid var(--primary);
    overflow: hidden;
}

footer .row {
    display: flex;
    gap: 3rem;
    padding: 1rem;
}

footer .row .coloum-left {
    color: #fff;
    flex: 0 0 auto;
    width: calc(60%/2);
}

footer .row .coloum-left h3 {
    text-transform: capitalize;
    font-size: 1.75rem;
}

footer .row .coloum-left .foot {
    padding: 1rem 0.5rem;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: start !important;
    flex-direction: column !important;
}

footer .row .coloum-left .foot img {
    /* img-fluid */
    /* d-xl-flex */
    margin: 1rem !important;
    max-width: 100%;
    height: auto;
}

footer .row .coloum-left .foot li {
    margin-bottom: 2rem;
    display: list-item;
    text-align: -webkit-match-parent;
}

footer .row .coloum-left .foot li a {
    color: white;
    font-size: 1rem !important;
    display: block;
    line-height: 0.7cm;
}

footer .row .coloum-right {
    color: #fff;
    flex: 0 0 auto;
    width: 40%;
}

footer .row .coloum-right h3 {
    text-transform: capitalize;
    font-size: 1.75rem;
}

footer .row .coloum-right .map {
    width: 100%;
    object-fit: cover;
    height: 20rem;
}

footer .line {
    content: " ";
    border-top: #fff 1px solid;
}

footer .credit {
    margin-top: 1.6rem;
    margin-bottom: 5rem;
    padding-left: 1rem;
    text-align: start;
}

footer .credit a {
    color: #fff;
    font-size: 1rem;
}

footer .credit a:hover {
    font-weight: 700;
}


/* Ganti Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: gray;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #caaf93;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}


/* Media Queries */


/* Laptop */

@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
    footer .row .coloum .foot img {
        display: flex !important;
    }
}

@media (min-width: 769px) {
    footer .row .coloum-right .map {
        padding-right: 5.5rem;
    }
}


/* Tablet */

@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
    #hamburger-menu {
        display: inline-block;
    }
    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30rem;
        height: 100vh;
        transition: 500ms;
    }
    .navbar .navbar-nav.active {
        right: 0;
    }
    .navbar .navbar-nav a {
        color: var(--third);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 1.4rem;
    }
    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }
    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.3);
    }
    .about .row {
        flex-wrap: wrap;
    }
    .about .row .about-img img {
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }
    .about .row .content {
        padding: 0;
    }
    .about .row .content h3 {
        margin-top: 1rem;
        font-size: 2rem;
        text-align: center;
        font-weight: 500;
    }
    .about .row .content p {
        font-size: 1.5rem;
    }
    .galeri p,
    .contact p {
        font-size: 1.4rem;
    }
    .galeri .row .coloum .menu-card {
        width: 200px;
        height: 200px;
        margin-top: 0.4rem;
    }
    footer .row {
        flex-wrap: wrap;
    }
    footer .row .coloum-left {
        flex-wrap: wrap;
        width: 100%;
    }
    footer .row .coloum-left .foot li a {
        line-height: 0.5cm;
    }
    footer .row .coloum-right {
        width: 100%;
        margin: auto;
    }
    footer .row .coloum-right .map {
        margin-top: 1rem;
    }
}


/* HP */

@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}